{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}

    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                        {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_inline_table.html.twig' %}
                    {% endif %}
                {% elseif form.children|length > 0 %}
                    {% set associationAdmin = sonata_admin.field_description.associationadmin %}
                    {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_inline_tabs.html.twig' %}

                {% endif %}
            {% else %}
                {% if form.vars.id matches '/.*sonometer.*/' %}
                    <table class="table-striped socochild">
                        <thead>
                            <tr>
                                <td colspan="2">Sonomètre</td>
                                <td colspan="2">Préamplificateur</td>
                                <td colspan="2">Micro</td>
                                <td colspan="2">Calibreur</td>
                                <td>Fin de validité</td>
                                <td>Action</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>N° de série</td>
                                <td>Type</td>
                                <td>N° de série</td>
                                <td>Type</td>
                                <td>N° de série</td>
                                <td>Type</td>
                                <td>N° de série</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ele in form.children %}
                                {% set sonometer = ele.vars.value|sonometer %}
                                <tr id="matos_sonometer_{{ ele.vars.value }}">
                                    {% if app.request.attributes.get('_route') matches '/.*_create/' %}
                                        <td class="box_agency_creation">{{ form_widget(form) }}</td>
                                    {% endif %}
                                    <td>{{ sonometer.type }}</td>
                                    <td>{{ sonometer.serialNumber }}</td>
                                    <td>{{ sonometer.preamplifierType }}</td>
                                    <td>{{ sonometer.preamplifierSerialNumber }}</td>
                                    <td>{{ sonometer.microphoneType }}</td>
                                    <td>{{ sonometer.MicrophoneSerialNumber }}</td>
                                    <td>{{ sonometer.calibratorType }}</td>
                                    <td>{{ sonometer.calibratorSerialNumber }}</td>
                                    <td>{{ sonometer.endOfValidity|date('d/m/Y') }}</td>
                                    <td>
                                        <a href="{{ path('admin_app_sonometer_edit', {'id': ele.vars.value}) }}">Modifier</a>
                                        <a href="{{ path('admin_app_sonometer_delete', {'id': ele.vars.value}) }}" class="delete_element_matos" data-type="sonometer" data-id="{{ ele.vars.value }}"  onclick="return confirm('Voulez vous vraiment supprimer le Sonomètre ?');">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% elseif form.vars.id matches '/.*noise_source.*/' %}
                    <table class="table-striped socochild">
                        <thead>
                            <tr>
                            <td>Marque</td>
                                <td>Type</td>
                                <td>N° de série</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ele in form.children %}
                                {% set noise_source = ele.vars.value|noiseSource %}
                                <tr  id="matos_noise_source_{{ ele.vars.value }}">
                                    {% if app.request.attributes.get('_route') matches '/.*_create/' %}
                                        <td class="box_agency_creation">{{ form_widget(form) }}</td>
                                    {% endif %}
                                <td>{{ noise_source.brand }}a</td>
                                <td>{{ noise_source.type }}b</td>
                                <td>{{ noise_source.serialNumber }}c</td>
                                <td>
                                    <a href="{{ path('admin_app_noisesource_edit', {'id': ele.vars.value}) }}">Modifier</a>
                                    <a href="{{ path('admin_app_noisesource_delete', {'id': ele.vars.value}) }}" class="delete_element_matos" data-type="noise_source" data-id="{{ ele.vars.value }}"  onclick="return confirm('Voulez vous vraiment supprimer la source de bruit ?');">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% elseif form.vars.id matches '/.*shockmachine.*/' %}
                    <table class="table-striped socochild">
                        <thead>
                            <tr>
                            <td>Marque</td>
                                <td>Type</td>
                                <td>N° de série</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ele in form.children %}
                                {% set shockmachine = ele.vars.value|shockmachine %}
                                <tr  id="matos_noise_source_{{ ele.vars.value }}">
                                    {% if app.request.attributes.get('_route') matches '/.*_create/' %}
                                        <td class="box_agency_creation">{{ form_widget(form) }}</td>
                                    {% endif %}
                                    <td>{{ shockmachine.brand }}a</td>
                                <td>{{ shockmachine.type }}b</td>
                                <td>{{ shockmachine.serialNumber }}c</td>
                                <td>
                                    <a href="{{ path('admin_app_shockmachine_edit', {'id': ele.vars.value}) }}">Modifier</a>
                                    <a href="{{ path('admin_app_shockmachine_delete', {'id': ele.vars.value}) }}" class="delete_element_matos" data-type="shockmachine" data-id="{{ ele.vars.value }}"  onclick="return confirm('Voulez vous vraiment supprimer la machine à chocs ?');">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {{ form_widget(form) }}
                {% endif %}

            {% endif %}

        </span>

        {% set display_create_button = sonata_admin.field_description.associationadmin.hasroute('create')
            and sonata_admin.field_description.associationadmin.isGranted('CREATE')
            and btn_add
            and (
                sonata_admin.field_description.options.limit is not defined or
                form.children|length < sonata_admin.field_description.options.limit
            ) %}

        {% if sonata_admin.edit == 'inline' %}

            {% if display_create_button %}
                <span id="field_actions_{{ id }}" >
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'create',
                            sonata_admin.field_description.getOption('link_parameters', {})
                        ) }}"
                        onclick="return start_field_retrieve_{{ id }}(this);"
                        class="btn btn-success btn-sm sonata-ba-action"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
            {% endif %}

            {# add code for the sortable options #}
            {% if sonata_admin.field_description.options.sortable is defined %}
                {% if sonata_admin.inline == 'table' %}
                    {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_sortable_script_table.html.twig' %}
                {% else %}
                    {% include '@SonataAdmin/CRUD/Association/edit_one_to_many_sortable_script_tabs.html.twig' %}
                {% endif %}
            {% endif %}

            {# include association code #}
            {% include '@SonataAdmin/CRUD/Association/edit_one_script.html.twig' %}

        {% else %}
            <span id="field_actions_{{ id }}" >
                {% if display_create_button %}
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'create',
                            sonata_admin.field_description.getOption('link_parameters', {})
                        ) }}"
                        onclick="return start_field_dialog_form_add_{{ id }}(this);"
                        class="btn btn-success btn-sm sonata-ba-action"
                        title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        Ajouter element
                    </a>
                {% endif %}
            </span>

            {% include '@SonataAdmin/CRUD/Association/edit_modal.html.twig' %}

            {% include '@SonataAdmin/CRUD/Association/edit_many_script.html.twig' %}
        {% endif %}
    </div>
{% endif %}
